div.content {
  padding: 10px;
}
div.content .projects .MuiCard-root{
  cursor: pointer;
}
div.content .projects .MuiCard-root:hover{
  background: lightblue;
}

div.content .MuiCard-root {
  margin-bottom: 10px;
  min-height:70px;
  padding: 10px;
}
div.content .MuiCard-root .MuiButtonBase-root{
  width:100%;
  text-align: left;
}
  

